@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;700&family=Karla:wght@400;500;700&display=swap');


:root {
  --color-primary: #F4CE14;
  --color-secondary: #495E57;
  --color-highlight: #EE9972;
  --color-highlight2: #FBDABB;
  --color-dark: #333333;
  --color-white: #FFFFFF;
  --color-light-gray: #EDEFEE;
  --font-heading: 'Markazi Text', serif;
  --font-body: 'Karla', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  color: var(--color-dark);
  background-color: var(--color-white);
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}